.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
article {
  padding-left: 15px;
}
article .buttons {
  font-size: 0;
  margin: 20px 0 20px;
}
article .buttons > * + * {
  margin-left: 30px;
}
article .content {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  width: 430px;
  padding: 20px 15px 0 20px;
}
article .content dl {
  zoom: 1;
  margin: 0 0 20px 0;
}
article .content dl:before,
article .content dl:after {
  content: "";
  display: table;
}
article .content dl:after {
  clear: both;
}
article .content dl dt,
article .content dl dd {
  float: left;
}
article .content dl dt {
  font-weight: bold;
  color: #005210;
  width: 140px;
  overflow-wrap: break-word;
}
article .content dl dd {
  margin-left: 10px;
}
