@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700&subset=latin,cyrillic);
.t-widget.t-grid {
    border: none;
}

.t-grid .t-grid-header,
.t-grid .t-grid-header tr,
.t-grid .t-grid-header tr th {
    color: #000000;
    border: none;
    background-color: #ffffff;
    height: 70px;
}

.t-grid .t-grid-header .t-header {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #e6e6e6;
    white-space: normal;
    vertical-align: top;
}

.t-grid .t-grid-header .t-header .t-link {
    color: #000000;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px 10px 28px;
    margin: 0;
    height: 70px;
    text-transform: uppercase;
}

.t-grid .t-grid-header .t-header .t-link.t-state-hover {
    color: #005210;
    background-color: transparent;
}

.t-grid .t-grid-header .t-header .t-link .t-icon {
    background-position: center center;
    position: absolute;
    left: 3px;
    top: 36px;
    margin-left: 5px;
}

.t-grid .t-grid-header .t-header .t-link .t-icon.t-arrow-up {
    background-image: url('/Content/Images/up-active.png');
}

.t-grid .t-grid-header .t-header .t-link .t-icon.t-arrow-down {
    background-image: url('/Content/Images/down-active.png');
}

.t-grid .t-grid-header .t-header .t-icon {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
}

.t-grid .t-grid-header .t-header .t-grid-filter {
    border: none;
    background-color: transparent;
    position: absolute;
    left: 8px;
    top: 17px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.t-grid .t-grid-header .t-header .t-grid-filter .t-filter {
    background-position: center center;
}

.t-grid .t-grid-header .t-header .t-grid-filter.t-state-default .t-filter {
    background-image: url('/Content/Images/filter-shadow.png');
}

.t-grid .t-grid-header .t-header .t-grid-filter.t-active-filter .t-filter,
.t-grid .t-grid-header .t-header .t-grid-filter.t-state-hover .t-filter {
    background-image: url('/Content/Images/filter.png');
}

.t-grid form {
    margin: 0;
}

.t-grid tr td {
    color: #000000;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    padding: 15px 10px 10px 28px;
    background-color: #ffffff;
}

.t-grid tr td .t-button {
    border: none;
    color: #005210;
    background-color: transparent;
    min-width: 0;
    padding: 0;
    margin: 0 .4em;
    text-decoration: underline;
}

.t-grid tr td .t-button:focus {
    outline-color: transparent;
}

.t-grid tr td input.input-validation-error {
    border: none;
}

.t-grid tr td input[type=text] {
    background-color: #e5e6e7;
}

.t-grid tr td span.field-validation-error {
    display: inline-block;
    margin-top: 20px;
    margin-left: -4px;
}

.t-grid tr td span.field-validation-error:before {
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 10px solid #a3d3af;
    position: absolute;
    top: -28px;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    content: ' ';
}

.t-grid .t-alt td {
    color: #000000;
    background-color: #f2f2f2;
}

.t-grid .t-grid-bottom.t-grid-pager {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.t-grid .t-grid-bottom.t-grid-pager .t-icon {
    background-color: #005210;
    background-repeat: no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    margin: 0;
}

.t-grid .t-grid-bottom.t-grid-pager .t-icon:hover {
    background-color: #006f22;
}

.t-grid .t-grid-bottom.t-grid-pager .t-status {
    border: none;
    padding: 0;
    margin: 0 5px 0 10px;
}

.t-grid .t-grid-bottom.t-grid-pager .t-status .t-icon.t-refresh {
    background-image: url('/Content/Images/update.png');
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link {
    border: none;
    padding: 0;
    margin: 0 5px 0 0;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link .t-icon.t-arrow-first {
    background-image: url('/Content/Images/to-start.png');
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link .t-icon.t-arrow-prev {
    background-image: url('/Content/Images/prev.png');
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link .t-icon.t-arrow-next {
    background-image: url('/Content/Images/next.png');
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link .t-icon.t-arrow-last {
    background-image: url('/Content/Images/to-end.png');
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-link.t-state-disabled .t-icon {
    background-color: #999999;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric {
    margin: 0 5px 0 0;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric span {
    padding: 0;
    margin: 0 5px 0 0;
    background-color: #005210;
    text-align: center;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric .t-link {
    border: 1px solid #e5e6e7;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric .t-link:hover {
    background-color: #006f22;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric *:last-of-type {
    margin: 0;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric span + .t-link {
    margin-left: 5px;
}

.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric span,
.t-grid .t-grid-bottom.t-grid-pager .t-pager .t-numeric .t-link:hover {
    border: none;
    display: inline-block;
    color: #ffffff;
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.t-grid .t-grid-edit-row .t-dropdown {
    margin: 0;
}

.t-toolbar.t-grid-toolbar {
    border: none;
    padding: 20px 15px 30px 15px;
}

.t-toolbar.t-grid-toolbar .t-button {
    color: #ffffff;
    background-color: #005210;
    border: none;
    width: 200px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0 10px 0 0;
    text-align: center;
}

.t-toolbar.t-grid-toolbar .t-button:hover {
    background-color: #006f22;
}

.t-toolbar.t-grid-toolbar .t-button.disabled {
    background-color: #999999;
}

.t-toolbar.t-grid-toolbar .t-button.disabled:hover {
    background-color: #999999;
}

.t-window {
    border: none;
}

.t-window .t-window-titlebar {
    border: none;
    background-color: #005210;
    height: 30px;
    padding: 0;
}

.t-window .t-window-titlebar .t-window-title {
    left: 30px;
    height: 30px;
    line-height: 30px;
}

.t-window .t-window-titlebar .t-window-actions {
    border: none;
    background-color: #005210;
    width: 30px;
    height: 30px;
    padding: 0;
    right: 0;
}

.t-window .t-window-titlebar .t-window-actions:hover {
    background-color: #006f22;
}

.t-window .t-window-titlebar .t-window-actions .t-link {
    width: 100%;
    height: 100%;
    padding: 0;
}

.t-window .t-window-titlebar .t-window-actions .t-link.t-state-hover {
    border: none;
}

.t-window .t-window-titlebar .t-window-actions .t-link .t-icon.t-close {
    width: 100%;
    height: 100%;
    background-image: url('/Content/Images/close.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.t-filter-options {
    min-width: 200px;
}

.t-filter-options .t-button {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #005210;
    width: 200px;
    height: 41px;
}

.t-filter-options .t-button .t-icon {
    background-position: center center;
    position: relative;
    top: 4px;
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
}

.t-filter-options .t-button.t-clear-button .t-clear-filter {
    background-image: url('/Content/Images/clear-filter.png');
}

.t-filter-options .t-button.t-filter-button .t-filter {
    background-image: url('/Content/Images/exequte-filter.png');
}

.t-filter-options .t-button:hover {
    background-color: #006f22;
}

.t-filter-options .t-filter-help-text {
    color: #ffffff;
    background-color: #999999;
    height: 41px;
    line-height: 41px;
    padding: 0 10px 0;
    margin: 0;
}

.t-filter-options select {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
    height: 36px;
}

.t-filter-options input[type=text] {
    background-color: #ffffff;
    border: none;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    outline: none;
    width: 190px;
    height: 36px;
    padding: 0 0 0 10px;
    margin: 0;
}

.t-filter-options input[type=text]:focus {
    background-color: #e5e6e7;
}

.t-dropdown.t-popup {
    min-width: 400px;
}

.t-dropdown.t-popup ul.t-reset li.t-item {
    overflow: hidden;
    width: 375px;
    padding-right: 10px;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}