<footer class="l-footer b-footer">
	<div class="l-container b-footer__inner">
		<div class="b-footer__copyright">&copy; @DateTime.Now.Year Blanksomat Автоматизированная система формирования и учета бланков строгой отчетности</div>
		<div class="b-footer__email">email: privet@blanksomat.ru</div>
	</div>
</footer>