@using Web.Application.Reports.Tabs

<div class="b-list">
    <ul class="b-list__ls">
        @{
            Html.RenderTabs<ReportTabs>(
                @<text>
                    <li class="b-list__i is-current">
                        <span>@item.Label</span>
                    </li>
                </text>,
                @<text>
                    <li class="b-list__i">
                        <a href="@item.Action">@item.Label</a>
                    </li>
                </text>);
        }
    </ul>
</div>