@{
    Layout = null;
}

<div class="b-intro">
    <div class="b-intro__inner">
        <div class="b-intro__picture"></div>
        <div class="b-intro__tooltip">
            С помощью нашего сервиса <br />
            вы можете на своем принтере <br />
            распечать настоящий, действующий <br />
            бланк строгой отчетности.
        </div>
    </div>	
</div>