@{
    Layout = null;
}

<span class="logo">
    <a href="http://www.blanksomat.ru/">
        <img src="@Url.Content("~/Content/Images/logo.png")" alt="Blansomat" />
    </a>
    <span>Blanksomat</span>
</span>