@model Web.Application.Home.Enums.Carousel?
@{
	Layout = null;
}

@{
    Html.RenderPartial("Partials/Welcome");
}

<div class="b-carousel js-carousel" data-start="@Model">
    <div class="b-carousel__i js-carousel__i" data-type="service">
        <div class="b-carousel__figure b-carousel__figure--service">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
		<div class="b-carousel__title">
			Уникальный сервис, <br /> 
			позволяющий печатать и <br /> 
			учитывать БСО самостоятельно
		</div>
	</div>
    <div class="b-carousel__i js-carousel__i" data-type="choice">
        <div class="b-carousel__figure b-carousel__figure--choice">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Большой выбор БСО <br /> 
            для всех видов деятельности
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="consultation">
        <div class="b-carousel__figure b-carousel__figure--consultation">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Обширная база консультаций <br /> 
            в сфере БСО в одном месте
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="book">
        <div class="b-carousel__figure b-carousel__figure--book">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Заполнение и ведение <br /> 
            Книги учета БСО
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="obtaining">
        <div class="b-carousel__figure b-carousel__figure--obtaining">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Моментальное получение БСО <br /> 
            на своем рабочем месте <br />
            по очень низкой цене
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="form">
        <div class="b-carousel__figure b-carousel__figure--form">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Обширная база форм документов <br />
            по организации работы с БСО
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="replacement">
        <div class="b-carousel__figure b-carousel__figure--replacement">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Отличная замена <br /> 
            кассовому аппарату и не нужно <br /> 
            регистрировать в налоговой
        </div>
    </div>
    <div class="b-carousel__i js-carousel__i" data-type="printing">
        <div class="b-carousel__figure b-carousel__figure--printing">
            <div class="b-carousel__pad"></div>
            <div class="b-carousel__picture"></div>
        </div>
        <div class="b-carousel__title">
            Печать БСО на обычном принтере <br /> 
            в полном соответствии с <br /> 
            законодательством
        </div>
    </div>
</div>