@{
	Layout = null;
}

<div class="b-nav">
	<div class="b-nav__inner">
		<div class="b-nav__logo">
			<a href="@Url.Action("Index", "Home")">Blanksomat</a>
		</div>
		<ul class="b-nav__ls js-nav">
			<li class="b-nav__i"><a href="/#intro" class="b-nav__link b-nav__link--current">Преимущества</a></li>
			<li class="b-nav__i"><a href="/#potential" class="b-nav__link">Возможности</a></li>
			<li class="b-nav__i"><a href="/#proof" class="b-nav__link">Это законно?</a></li>
			<li class="b-nav__i"><a href="/#prices" class="b-nav__link">Тарифы</a></li>
			<li class="b-nav__i"><a href="/#registration" class="b-nav__link">Вход</a></li>
		</ul>
	</div>
</div>