@{
	Layout = null;
}

<div class="b-potential">
	<ul class="b-potential__ls">
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Выбирайте то, что нужно именно вам <br />
				из обширного банка форм БСО
			</h4>
			<i class="b-potential__icon b-potential__icon--choice"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Печатайте документы по учету БСО: <br />
				прием, списание, инвентаризация и пр.
			</h4>
			<i class="b-potential__icon b-potential__icon--print"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Заготовьте бланки БСО и заполняйте <br />
				их ручкой в любом удобном месте
			</h4>
			<i class="b-potential__icon b-potential__icon--pen"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Печатайте отчет о БСО в соответствии <br />
				с Постановлением №359 от 06.05.2008
			</h4>
			<i class="b-potential__icon b-potential__icon--law"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Заполняйте БСО в компьютере <br />
				и печатайте уже готовым для выдачи
			</h4>
			<i class="b-potential__icon b-potential__icon--pc"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Ведите Книгу учета бланков строгой <br />
				отчетности в автоматическом режиме
			</h4>
			<i class="b-potential__icon b-potential__icon--book"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Помечайте испорченные БСО <br />
				для автоматического отражения в отчетности
			</h4>
			<i class="b-potential__icon b-potential__icon--spoiled"></i>
		</li>
		<li class="b-potential__i">
			<h4 class="b-potential__title">
				Введите неограниченное количество <br />
				сотрудников и управляйте их правами
			</h4>
			<i class="b-potential__icon b-potential__icon--employees"></i>
		</li>
	</ul>
</div>