@{
	Layout = null;
}
<div class="t-prices">
	<table class="t-prices__table">
		<thead class="t-prices__header">
			<tr>
				<th class="t-prices__name">Функция</th>
				<th>
					<div class="t-prices__inner">
						<span>Эконом</span>
						<div class="t-prices__tooltip">
							Тариф наиболее удобен для небольшого бизнеса с малой потребностью количества БСО и одним сотрудником, 
							ответственным за прием денежных средств.
						</div>
						<span class="g-sign">i</span>
					</div>				
				</th>
				<th>
					<div class="t-prices__inner">				
						<span>Стандарт</span>
						<div class="t-prices__tooltip">
							Тариф наиболее удобен для малого бизнеса с небольшой потребностью количества БСО и с количеством 
							сотрудников, ответсвенных за прием денежных средств до 3-х человек.
						</div>
						<span class="g-sign">i</span>
					</div>
				</th>
				<th>
					<div class="t-prices__inner">				
						<span>Комфорт</span>
						<div class="t-prices__tooltip">
							Тариф удобен для большинства организаций и предпринимателей с любой потребностью количества БСО и 
							с количеством сотрудников, ответсвенных за прием денежных средств до 10-ти человек.
						</div>
						<span class="g-sign">i</span>
					</div>
				</th>
				<th>
					<div class="t-prices__inner">				
						<span>Эксклюзив</span>
						<div class="t-prices__tooltip">
							Тариф наиболее удобен для организаций и предпринимателей с большой потребностью количества БСО и 
							не имеет ограничений по количеству сотрудников. Это самый функционально оснащенный тариф, но тем 
							не менее на 12% дешевле чем предыдущий тариф. Данный тариф можно использовать только при разовой 
							покупке не менее 25000 штук БСО.
						</div>
						<span class="g-sign">i</span>
					</div>
				</th>
				<th>
					<div class="t-prices__inner">				
						<span>Клерк</span>
						<div class="t-prices__tooltip">
							Это бесплатный тариф. Он удобен для тех кто не планирует печатать БСО, 
							но хочет воспользоваться базой консультаций и возможностью заполнить 
							формы документов в сфере учета и применения БСО.
						</div>
						<span class="g-sign">i</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody class="t-prices__body">
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Тариф за бланк</p>
				</td>
				<td><strong>0,5</strong></td>
				<td><strong>0,6</strong></td>
				<td class="t-prices__cell--selected"><strong>0,8</strong></td>
				<td><strong>0,7</strong></td>
				<td><strong>&mdash;</strong></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Количество ответственных</p>
				</td>
				<td><strong>1</strong></td>
				<td><strong>3</strong></td>
				<td class="t-prices__cell--selected"><strong>10</strong></td>
				<td>Не ограничено</td>
				<td>Не ограничено</td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Формирование и печать БСО</p>
				</td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><strong>&mdash;</strong></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Отчет для ИФНС</p>
				</td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">База консультаций в сфере учета и применения БСО</p>
				</td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Доступ к дополнительным документам по учету БСО</p>
				</td>
                <td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Заполнение БСО</p>
				</td>
				<td><strong>&mdash;</strong></td>
				<td><strong>&mdash;</strong></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><strong>&mdash;</strong></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Аннулирование БСО</p>
				</td>
				<td><strong>&mdash;</strong></td>
				<td><strong>&mdash;</strong></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><strong>&mdash;</strong></td>
			</tr>
			<tr>
				<td class="t-prices__name">
					<p class="t-prices__title">Автоматическое ведение Книги учета БСО</p>
				</td>
				<td><strong>&mdash;</strong></td>
				<td><strong>&mdash;</strong></td>
				<td class="t-prices__cell--selected"><span class="g-sign">&or;</span></td>
				<td><span class="g-sign">&or;</span></td>
				<td><strong>&mdash;</strong></td>
			</tr>
		</tbody>
	</table>
</div>
