@{
	Layout = null;
}

<div class="b-proof">
	<div class="b-proof__act b-proof__act--odd">
		<div class="b-proof__cover">
			<p>
				Федеральный закон <br />
				от 22 мая 2003 г. №54-ФЗ <br />
				&laquo;О применении контрольно-кассовой <br />
				техники при осуществлении <br />
				наличных денежных расчетов <br />
				и (или) расчетов с использованием <br />
				платежных карт&raquo;
			</p>
			<span class="b-proof__readme">Читать</span>
			<div class="b-proof__corner"></div>
		</div>
		<div class="b-proof__flip">
			<strong>Статья 2 пункт 2</strong>
			<p>
				&laquo;Организации и индивидуальные предприниматели <br />
				в соответствии с порядком, определяемым <br />
				Правительством Российской Федерации, могут <br />
				осуществлять наличные денежные расчеты и (или) <br />
				расчеты с использованием платежных карт без <br />
				применения контрольно-кассовой техники в случае<br />
				оказания услуг населению при условии выдачи ими<br />
				соответствующих бланков строгой отчетности. <br />
				Порядок утверждения формы бланков строгой <br />
				отчетности, приравненных к кассовым чекам, а <br />
				также порядок их учета, хранения и уничтожения <br />
				устанавливается Правительством РФ.&raquo;
			</p>
			<div class="b-proof__corner"></div>
		</div>
	</div>	

	<div class="b-proof__act b-proof__act--even">
		<div class="b-proof__cover">
			<p>
				Положение об осуществлении <br />
				наличных денежных расчетов <br />
				и (или) расчетов с использованием <br />
				платежных карт без применения <br />
				контрольно-кассовой техники, <br />
				утвержденного Постановлением <br />
				Правительства РФ от 6 мая <br />
				2008 г. №359
			</p>
			<span class="b-proof__readme">Читать</span>
			<div class="b-proof__corner"></div>
		</div>
		<div class="b-proof__flip">
			<strong>Пункт 4</strong>
			<p>
				&laquo;БСО изготавливается типографским способом или <br />
				формируется с использованием автоматизированных систем.&raquo;
			</p>
			<strong>Пункт 11</strong>	
			<p>
				&laquo;Формирование бланков документов может производиться <br />
				с использованием автоматизированной системы. <br />
				При этом для одновременного заполнения бланка <br />
				документа и выпуска документа должно <br />
				обеспечиваться выполнение следующих требований: <br />
				а) автоматизированная система должна иметь защиту <br />
				от несанкционированного доступа, идентифицировать, <br />
				фиксировать и сохранять все операции с бланком <br />
				документа в течение не менее 5 лет; <br />
				б) при заполнении бланка документа и выпуске <br />
				документа автоматизированной системой сохраняются <br />
				уникальный номер и серия его бланка.&raquo;
			</p>
			<div class="b-proof__corner"></div>
		</div>
	</div>

	<div class="g-clearfix"></div>

	<div class="b-proof__definition">
		<div class="b-proof__corner"></div>	
		<p>
			<strong>Blanksomat</strong> полностью соответствует указанным нормам законодательства.
		</p>
	</div>
	
	<div class="b-proof__arrow--right"></div>
	<div class="b-proof__arrow--down"></div>
</div>