<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Main" connectionString="Server=localhost;Port=5432;Database=blanksomat;User Id=blanksomat;Password=blanksomat"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="AdminEmail" value="admin@example.com" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <handlers>
    <add xdt:Transform="Replace" name="MiniProfiler" path="mini-profiler-resources/*" verb="*"
           type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />	
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="no-reply@byndyusoft.com" deliveryMethod="Network">
        <network host="smtp.yandex.ru" port="587" enableSsl="true" userName="no-reply@byndyusoft.com" password="es993(*(#*29"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace"/>
  </system.web>
  <log4net xdt:Transform="Remove"/>
  <log4net configSource="log4net_debug.config" xdt:Transform="Insert"/>
</configuration>